<div class="is-drawer-close:tooltip is-drawer-close:tooltip-right is-drawer-close:w-full is-drawer-close:flex is-drawer-close:justify-center" data-tip="Account">
  <details class="dropdown dropdown-top w-full" data-controller="details-dropdown">
    <summary class="btn btn-ghost btn-sm w-full is-drawer-open:justify-start is-drawer-close:justify-center is-drawer-close:px-0 is-drawer-close:btn-square gap-2">
      <span class="icon-[lucide--user] size-5"></span>
      <span class="is-drawer-close:hidden flex-1 truncate text-left"><%= Current.identity&.email || "Account" %></span>
      <span class="is-drawer-close:hidden icon-[lucide--chevron-up] size-3"></span>
    </summary>
    <ul class="dropdown-content menu bg-base-100/95 backdrop-blur-sm rounded-box z-60 w-56 p-2 shadow-lg border border-base-300 mb-2">
      <li>
        <%= link_to settings_profile_path, class: "gap-2" do %>
          <span class="icon-[lucide--settings] size-4"></span>
          <span>Settings</span>
        <% end %>
      </li>
      <li class="my-1"><div class="divider my-0"></div></li>
      <li>
        <%= button_to session_path, method: :delete, class: "text-error gap-2" do %>
          <span class="icon-[lucide--log-out] size-4"></span>
          <span>Sign out</span>
        <% end %>
      </li>
    </ul>
  </details>
</div>
