<% conversations = Array(conversations) %>

<% conversations.each do |conversation| %>
  <li>
    <%= link_to conversation_path(conversation), class: "truncate" do %>
      <span class="truncate"><%= conversation.title.presence || "(untitled)" %></span>
    <% end %>
  </li>
<% end %>
