<div class="is-drawer-close:tooltip is-drawer-close:tooltip-right is-drawer-close:w-full is-drawer-close:flex is-drawer-close:justify-center" data-tip="Account">
  <%= render "_shared/account_dropdown",
             placement_classes: "dropdown-top dropdown-end w-full",
             trigger_classes: "btn btn-ghost btn-sm w-full gap-2 is-drawer-open:justify-start is-drawer-close:justify-center is-drawer-close:px-0 is-drawer-close:btn-square",
             email_classes: "is-drawer-close:hidden flex-1 truncate text-left",
             chevron_icon_class: "is-drawer-close:hidden icon-[lucide--chevron-up]",
             user_icon_size_class: "size-5" %>
</div>
